$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$dfb-icon-dots: "\e900";
$dfb-icon-add-circle-outline: "\e901";
$dfb-icon-add-fill: "\e902";
$dfb-icon-adding: "\e903";
$dfb-icon-add-line: "\e904";
$dfb-icon-add-outline: "\e905";
$dfb-icon-all-forms: "\e906";
$dfb-icon-arrow-back: "\e907";
$dfb-icon-arrow-dowen-outline: "\e908";
$dfb-icon-arrow-down-fill: "\e909";
$dfb-icon-arrow-next: "\e90a";
$dfb-icon-arrow-up-outline: "\e90b";
$dfb-icon-back: "\e90c";
$dfb-icon-bold: "\e90d";
$dfb-icon-boxes-view: "\e90e";
$dfb-icon-calender: "\e90f";
$dfb-icon-card-view: "\e910";
$dfb-icon-chat-view: "\e911";
$dfb-icon-check-box: "\e912";
$dfb-icon-classic-view: "\e913";
$dfb-icon-close-fill: "\e914";
$dfb-icon-close-line: "\e915";
$dfb-icon-copy-and-paste: "\e918";
$dfb-icon-delete: "\e919";
$dfb-icon-distribute: "\e91a";
$dfb-icon-download: "\e91b";
$dfb-icon-dropdown-menu: "\e91c";
$dfb-icon-duplicate: "\e91d";
$dfb-icon-edit: "\e91e";
$dfb-icon-E-mail: "\e91f";
$dfb-icon-emoji: "\e920";
$dfb-icon-expand: "\e923";
$dfb-icon-export: "\e924";
$dfb-icon-face-angry: "\e925";
$dfb-icon-face-happy: "\e926";
$dfb-icon-face-indifferent: "\e927";
$dfb-icon-face-sad: "\e928";
$dfb-icon-face-satisfied: "\e929";
$dfb-icon-file: "\e92a";
$dfb-icon-folder: "\e92b";
$dfb-icon-font: "\e92c";
$dfb-icon-image: "\e92d";
$dfb-icon-import: "\e92e";
$dfb-icon-input-field: "\e92f";
$dfb-icon-instruction: "\e930";
$dfb-icon-italic: "\e931";
$dfb-icon-list-view: "\e932";
$dfb-icon-location: "\e933";
$dfb-icon-map: "\e934";
$dfb-icon-minus-circle-outline: "\e935";
$dfb-icon-mob-view: "\e936";
$dfb-icon-move: "\e937";
$dfb-icon-move-to-folder: "\e938";
$dfb-icon-notification: "\e939";
$dfb-icon-nps: "\e93a";
$dfb-icon-number: "\e93b";
$dfb-icon-paragraph: "\e93c";
$dfb-icon-pause: "\e93d";
$dfb-icon-pdf-document: "\e93e";
$dfb-icon-play: "\e93f";
$dfb-icon-publish: "\e940";
$dfb-icon-rearrange: "\e941";
$dfb-icon-redo: "\e942";
$dfb-icon-reload: "\e943";
$dfb-icon-rules: "\e944";
$dfb-icon-save-in-Library: "\e945";
$dfb-icon-scrrol-to-top: "\e946";
$dfb-icon-search: "\e947";
$dfb-icon-search-empty: "\e948";
$dfb-icon-section: "\e949";
$dfb-icon-select-file: "\e94a";
$dfb-icon-send: "\e94b";
$dfb-icon-setting: "\e94c";
$dfb-icon-signature: "\e94d";
$dfb-icon-slider: "\e94e";
$dfb-icon-star: "\e951";
$dfb-icon-star-filled: "\e952";
$dfb-icon-success-and-multi-choices: "\e953";
$dfb-icon-tablet-view: "\e954";
$dfb-icon-text-area: "\e955";
$dfb-icon-text-area-box: "\e956";
$dfb-icon-text-size: "\e957";
$dfb-icon-themes: "\e958";
$dfb-icon-time: "\e959";
$dfb-icon-underline: "\e95a";
$dfb-icon-undo: "\e95b";
$dfb-icon-unview: "\e95c";
$dfb-icon-upload: "\e95d";
$dfb-icon-view: "\e95e";
$dfb-icon-web-view: "\e95f";
$dfb-icon-word: "\e960";
$dfb-icon-control: "\e916";
$dfb-icon-error: "\e917";
$dfb-icon-spreadsheet: "\e921";
$dfb-icon-embedded-form: "\e922";
$dfb-icon-erase: "\e94f";
$dfb-icon-quota: "\e950";
$dfb-icon-iframe: "\e961";
$dfb-icon-mobile-list: "\e962";
$dfb-icon-income: "\e963";
$dfb-icon-keyboard: "\e964";
$dfb-icon-issue: "\e965";
$dfb-icon-popup-form: "\e966";
$dfb-icon-recipient: "\e967";
$dfb-icon-required: "\e968";
$dfb-icon-schedule-email: "\e969";
$dfb-icon-filter: "\e96a";
$dfb-icon-link: "\e96b";
$dfb-icon-submission: "\e96c";
$dfb-icon-open: "\e96d";
$dfb-icon-checked: "\e96e";
$dfb-icon-calculate: "\e96f";
$dfb-icon-date: "\e970";
$dfb-icon-email-list: "\e971";
$dfb-icon-country: "\e972";
$dfb-icon-popup-invitation: "\e973";
$dfb-icon-age: "\e974";
$dfb-icon-file-upload: "\e975";
$dfb-icon-skip: "\e976";
$dfb-icon-facebook: "\e977";
$dfb-icon-twitter: "\e978";
$dfb-icon-linkedin: "\e979";
$dfb-icon-tumblr: "\e97a";
$dfb-icon-wordpress: "\e97b";
$dfb-icon-star-outlined: "\e97c";
$dfb-icon-heart-filled: "\e97d";
$dfb-icon-heart-outline: "\e97e";
$dfb-icon-thumb-filled: "\e97f";
$dfb-icon-thumb-outline: "\e980";
$dfb-icon-online: "\e981";
$dfb-icon-offline: "\e982";
$dfb-icon-print: "\e983";
$dfb-icon-filter1: "\e984";
$dfb-icon-loading-btn: "\e985";
$dfb-icon-bar-chart: "\e986";
$dfb-icon-pie-chart: "\e987";
$dfb-icon-Breakdown-chart: "\e988";
$dfb-icon-table-view: "\e989";
$dfb-icon-expired2: "\e98a";
$dfb-icon-language: "\e98b";
$dfb-icon-powerpoint: "\e98c";
$dfb-icon-if: "\e98d";
$dfb-icon-minus: "\e98e";
$dfb-icon-pages: "\e98f";
$dfb-icon-attachment-v2: "\e990";
$dfb-icon-Note-v2: "\e991";
$dfb-icon-delete-circle: "\e992";

