// spacing
.mx-2 {
  margin-inline: 0.5rem;
}
.mx-4 {
  margin-inline: 1.4rem;
}

.mb-2 {
  margin-bottom: 1rem;
}
.mb-4 {
  margin-bottom: 2rem;
}
.mt-2 {
  margin-top: 1rem;
}
.mt-4 {
  margin-top: 2rem;
}

.my-2 {
  margin-block: 1rem;
}
.my-4 {
  margin-block: 2rem;
}

// gap
.gap-4 {
  gap: 2rem;
}
