// Primary Colors
$primary-main: #2e7ac5;
$primary-dark: #001428;
$primary-light: #e6f1ff;
$white: #ffffff;

// Secondary Colors
$secondary-main: #001428;
$secondary-dark: #21bf80;
$secondary-light: #f1fdf4;

// Support Colors
$support-pale-grey: #f5f7f9;
$support-grey: #8794aa;
 
// Text Colors
$text-blue: #1A406D;
$text-sup-blue: #385b8a;
$text-grey: #212529;
$text-grey-2: #8794aa;

// Error & Success
$error-red: #f93d3d;
$error-red-light: #fee2e2;
$success: #29cc8b;

// Background Colors
$background-cloud: #fafbfc;
$background-soft-blue: #cbe4fa;
$background-ice-blue: #eef4fc;

// Border Colors
$border-mid-gray: #707070;
$border-grey: #d0d9e2;
$border-grey-light: #eff3f6;

// Others
$shadow-12: #143250;
