//media responsive
@mixin responsive($point) {
  @if $point == large {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $point == medium {
    @media (min-width: 992px) and (max-width: 1199px) {
      @content;
    }
  } @else if $point == small {
    @media (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  } @else if $point == mobile {
    @media (max-width: 767px) {
      @content;
    }
  }
}

@mixin flex-center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin font(
  $fontSize,
  $fontWeight: 400,
  $fontFamily: "corben",
  $lineHeight: 19pt
) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  font-family: $fontFamily;
}

//animations

@keyframes slider {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
